<template>
  <gt-tabs
    controller.ref="previewController"
    active-tab-id.bind="selectedTab"
    item-select.delegate="onTabSelect($event.detail)"
    is-centered.bind="isCentered"
    is-right.bind="isRight"
    grow.bind="isGrown"
  >
    <gt-tab header="Star Trek">
      <ul>
        <li>The Original Series</li>
        <li>The Animated Series</li>
        <li>The Next Generation</li>
        <li>Deep Space Nine</li>
        <li>Voyager</li>
        <li>Enterprise</li>
        <li>Discovery</li>
        <li>Picard</li>
      </ul>
    </gt-tab>
    <gt-tab header="Star Wars">
      <ul>
        <li>Episode IV – A New Hope</li>
        <li>Episode V – The Empire Strikes Back</li>
        <li>Episode VI – Return of the Jedi</li>
        <li>Episode I – The Phantom Menace</li>
        <li>Episode II – Attack of the Clones</li>
        <li>Episode III – Revenge of the Sith</li>
        <li>Episode VII – The Force Awakens</li>
        <li>Episode VIII – The Last Jedi</li>
        <li>Episode IX – The Rise of Skywalker</li>
      </ul>
    </gt-tab>
    <gt-tab header="Battlestar Galactica">
      <ul>
        <li>Battlestar Galactica</li>
        <li>Razor</li>
        <li>The Plan</li>
        <li>Caprica</li>
        <li>Blood & Chrome</li>
      </ul>
    </gt-tab>
  </gt-tabs>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12"> selected tab index </gt-grid-column>
    <gt-grid-column class="text-right"> #${selectedTab} </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12"> grow </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isGrown" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> alignment </gt-grid-column>
    <gt-grid-column auto>
      <div class="text-right">
        <div class="pad-2 d-flex flex-v-center">
          <div repeat.for="[name, mode] of modes" class="mar-left-5">
            <label
              class="radio cursor-pointer"
              class.bind="isGrown && 'disabled'"
            >
              <input
                type="radio"
                name="radio"
                model.bind="mode"
                disabled.bind="isGrown"
                checked.bind="selectedMode"
                change.delegate="update()"
              /><i></i>
              <span class="mar-left-3 mar-top-1">${name}</span>
            </label>
          </div>
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
