<template>
  <gt-popup controller.ref="previewController" show.bind="false"></gt-popup>
  <div
    class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8 pos-rel"
    css="${isActive && 'height: 360px'}"
  >
    <gt-popup
      is-fixed.bind="isFixed"
      is-closeable.bind="hasCloseIcon"
      buttons.bind="buttons"
      deactivate-ready.delegate="close()"
      if.bind="isActive"
    >
      <h3>Popup title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </gt-popup>
    <span
      show.bind="!isActive"
      class="text-h3 link"
      click.trigger="isActive = true"
      >activate</span
    >
  </div>

  <template if.bind="isActive">
    <hr class="mar-top-6 mar-bot-6" />

    <gt-grid>
      <gt-grid-column>
        fixed
      </gt-grid-column>
      <gt-grid-column auto>
        <gt-switch active.two-way="isFixed"></gt-switch>
      </gt-grid-column>
    </gt-grid>
    <gt-grid class="mar-top-6">
      <gt-grid-column>
        close icon
      </gt-grid-column>
      <gt-grid-column auto>
        <gt-switch active.two-way="hasCloseIcon"></gt-switch>
      </gt-grid-column>
    </gt-grid>
    <gt-grid class="mar-top-6" if.bind="lastAction">
      <gt-grid-column>
        last action
      </gt-grid-column>
      <gt-grid-column auto>
        <code>${lastAction}</code>
      </gt-grid-column>
    </gt-grid>
  </template>
</template>
