<template>
  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">
    <span class="text-h3 link u-select-none" click.trigger="increase()"
      >activate</span
    >
  </div>

  <gt-toast
    controller.ref="previewController"
    message.bind="displayedMessage"
  ></gt-toast>
</template>
