<template>
  Input component for number values. Decrease and increase controls for the
  value can be shown optionally.
  <br>
  <span class="color-red">
    In addition to the listed below &nbsp;<code>disabled</code>,
    &nbsp;<code>readonly</code>, &nbsp;<code>required</code>&nbsp; properties are also available.
  </span>
</template>
