<template>

  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">

    <gt-number-field
      controller.ref="previewController"
      value.two-way="value"
      min.bind="hasMinValue && minValue"
      max.bind="hasMaxValue && maxValue"
      step.bind="step"
      has-controls.bind="hasControls"
      skip-steps.bind="skipSteps"
      disabled.bind="disabled"
      input-class.bind="hasCustomStyles && 'bg-primary color-white'"
      ctrl-class.bind="hasCustomStyles && 'color-white'"
      class="w-f1"
    ></gt-number-field>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column>
      controls
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasControls"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      ${isEnabled ? 'enabled' : 'disabled'}
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isEnabled"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      custom styling
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasCustomStyles"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      min value is&nbsp;
      <template if.bind="hasMinValue">
        <code>${minValue}</code>
      </template>
      <template else>
        disabled
      </template>
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch
        active.two-way="hasMinValue"
        change.trigger="init()"
      ></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      max value is&nbsp;
      <template if.bind="hasMaxValue">
        <code>${maxValue}</code>
      </template>
      <template else>
        disabled
      </template>
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch
        active.two-way="hasMaxValue"
        change.trigger="init()"
      ></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      step
    </gt-grid-column>
    <gt-grid-column auto>
      <code>${step}</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="hasControls">
    <gt-grid-column>
      step multiplier
    </gt-grid-column>
    <gt-grid-column auto>
      <code>${skipSteps}</code>
    </gt-grid-column>
  </gt-grid>
</template>
