<template>
  <gt-tree
    controller.ref="previewController"
    item-select.delegate="onItemSelect($event.detail)"
    item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
    header="item 1"
    item-id="100"
  >
    <gt-tree
      header="item 1.1"
      item-select.delegate="onItemSelect($event.detail)"
      item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
      item-id="110"
    ></gt-tree>
    <gt-tree
      header.bind="'item 1.2'"
      item-select.delegate="onItemSelect($event.detail)"
      item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
      item-id.bind="120"
    >
      <gt-tree
        header="item 1.2.1"
        item-select.delegate="onItemSelect($event.detail)"
        item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
        item-id="121"
      ></gt-tree>
    </gt-tree>
  </gt-tree>

  <gt-tree
    header="item 2"
    item-select.delegate="onItemSelect($event.detail)"
    item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
    item-id.bind="200"
    active
  >
    <gt-tree
      header.bind="'item 2.1 ' + (initialized ? 'initialized' : 'initialization required')"
      initialized.two-way="initialized"
      item-select.delegate="onItemSelect($event.detail)"
      item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
      item-id="210"
    >
      <gt-tree
        header="item 2.1.1"
        item-select.delegate="onItemSelect($event.detail)"
        item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
        item-id="211"
      ></gt-tree>
    </gt-tree>
  </gt-tree>

  <gt-tree
    header="item 3"
    item-select.delegate="onItemSelect($event.detail)"
    item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
    item-id="300"
  ></gt-tree>

  <gt-tree
    header.bind="primaryRoot.header"
    initialized.two-way="primaryRoot.initialized"
    item-id.bind="primaryRoot.id"
    item-select.delegate="onItemSelect($event.detail)"
    item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
  >
    <gt-tree
      repeat.for="item of primaryRoot.children"
      if.bind="primaryRoot.children.length"
      header.bind="item.header"
      initialized.two-way="item.initialized"
      item-id.bind="item.id"
      item-select.delegate="onItemSelect($event.detail)"
      item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
    ></gt-tree>
  </gt-tree>

  <gt-tree
    header.bind="secondaryRoot.header"
    initialized.two-way="secondaryRoot.initialized"
    item-id.bind="secondaryRoot.id"
    item-select.delegate="onItemSelect($event.detail)"
    item-ctrl-update.delegate="onCtrlUpdate($event.detail)"
  ></gt-tree>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12">
      item id
    </gt-grid-column>
    <gt-grid-column class="text-right">
      <template if.bind="selectedItemId">#${selectedItemId}</template>
      <code if.bind="!selectedItemId">none</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      event
    </gt-grid-column>
    <gt-grid-column class="text-right">
      <code>${lastDetectedEvent ? lastDetectedEvent : 'none'}</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      active
    </gt-grid-column>
    <gt-grid-column class="text-right">
      <code>${selectedItemStatus}</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      initialized
    </gt-grid-column>
    <gt-grid-column class="text-right">
      <code>${isInitialized}</code>
    </gt-grid-column>
  </gt-grid>
</template>
