<template>
  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">
    <gt-select
      controller.ref="previewController"
      value.two-way="initial"
      items.bind="products"
      placeholder="Products"
      summary.bind="hasSummary || '{n}'"
      multiple.bind="isMultiple"
      disabled.bind="isDisabled"
      has-reset-control.bind="hasResetControl"
    ></gt-select>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column>
      multiple
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch
        active.two-way="isMultiple"
        change.trigger="initValues()"
      ></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      disabled
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isDisabled"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="!isMultiple">
    <gt-grid-column>
      reset control
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch
        active.two-way="hasResetControl"
      ></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" else>
    <gt-grid-column>
      summary
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasSummary"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="isMultiple ? initial.length : initial !== ''">
    <gt-grid-column>
      selected
    </gt-grid-column>
    <gt-grid-column auto>
      <code>${selectedItems}</code>
    </gt-grid-column>
  </gt-grid>
</template>
