<template>
  <div class="d-flex flex-h-center" ref="menuWrapperEl">
    <gt-menu controller.ref="previewController" is-small.bind="isSmall">
      <ul>
        <li class="active"><a href="#">Active</a></li>
        <li class="disabled"><a href="#">Disabled</a></li>
        <li><hr /></li>
        <li>
          <a href="#">
            <span>Submenu</span>
            <div class="icon pull-right" if.bind="!isLeft">
              <i class="mdi mdi-chevron-right"></i>
            </div>
          </a>
          <gt-menu is-small.bind="isSmall" is-left.bind="isLeft">
            <ul>
              <li><a href="#">Item</a></li>
              <li>
                <a href="#">
                  <span>Submenu</span>
                  <div class="icon pull-right" if.bind="!isLeft">
                    <i class="mdi mdi-chevron-right"></i>
                  </div>
                </a>
                <gt-menu is-small.bind="isSmall" is-left.bind="isLeft">
                  <ul>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </gt-menu>
              </li>
            </ul>
          </gt-menu>
        </li>
      </ul>
    </gt-menu>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12">
      small
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isSmall" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      submenu position is ${isLeft ? 'left' : 'right'}
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isLeft" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
