<template>
  Provides a simple way to select a single value from a pre-determined set or to
  help users easily input time entries.
  <br />
  Aside from <code class="mar-h-2">placeholder</code> format additional
  supported formats for the input field are:
  <code class="mar-left-2">hmm</code>, <code class="mar-left-2">hmmss</code>,
  <code class="mar-left-2">hhmm</code>, <code class="mar-left-2">hhmmss</code>,
  <code class="mar-left-2">h:mm</code>, <code class="mar-left-2">h:mm:ss</code>,
  <code class="mar-left-2">hh:mm</code>,
  <code class="mar-left-2">hh:mm:ss</code>.
  <br />
  <br />
  <span class="color-red">
    In addition to the listed below <code class="mar-left-2">name</code>,
    <code class="mar-left-2">disabled</code>,
    <code class="mar-left-2">readonly</code>,
    <code class="mar-h-2">required</code> properties are also available.
  </span>
</template>
