<template>
  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">
    <gt-time-picker
      controller.ref="previewController"
      title.bind="errorDetails.status ? errorDetails.description : ''"
      value.bind="time"
      has-current-time-control.bind="hasCurrentTimeControl"
      has-reset-control.bind="hasResetControl"
      locale.bind="computedLocale"
      show-seconds.bind="showSeconds"
      step.bind="selectedStep"
      presets-only.bind="presetsOnly"
      input-only.bind="inputOnly"
      min.bind="selectedMin"
      max.bind="selectedMax"
      excluded.bind="excluded"
      disabled.bind="isDisabled"
      readonly.bind="isReadonly"
      required.bind="isRequired"
      value-changed.delegate="updateTimeSelected($event)"
      error-detected.delegate="updateErrorStatus($event.detail.error)"
    ></gt-time-picker>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column> error detected<template if.bind="errorDetails.status">, code&nbsp;<code>${errorDetails.code}</code></template>
    </gt-grid-column>
    <gt-grid-column auto>
      <template if.bind="errorDetails.status">
        <span class="color-invalid">${errorDetails.description}</span>
      </template>
      <template else>
        <code>none</code>
      </template>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column class="pad-top-3">
      step is&nbsp;<code>${selectedStep} minutes</code>
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-select
        class="w-f1 d-block"
        value.two-way="selectedStep"
        items.bind="steps"
        has-reset-control.bind="false"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3"> min </gt-grid-column>
    <gt-grid-column auto>
      <gt-select
        class="w-f1 d-block"
        value.two-way="selectedMin"
        items.bind="minValues"
        has-reset-control.bind="false"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3"> max </gt-grid-column>
    <gt-grid-column auto>
      <gt-select
        class="w-f1 d-block"
        value.two-way="selectedMax"
        items.bind="maxValues"
        has-reset-control.bind="false"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <compose view="../picker-locale-control.html"></compose>
  <gt-grid class="mar-top-6">
    <gt-grid-column> current time control </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasCurrentTimeControl"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> reset control </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasResetControl" state.bind="(isDisabled || isReadonly || presetsOnly) && 'disabled'"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      disabled
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isDisabled"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      readonly
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isReadonly"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      required
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isRequired"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> presets only </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="presetsOnly" state.bind="inputOnly && 'disabled'"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> input only </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="inputOnly"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> show seconds </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="showSeconds"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      excluded values
      <template if.bind="hasExcluded">
        &nbsp;are&nbsp;<code>${excludedValues}</code>
      </template>
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasExcluded"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> returned value </gt-grid-column>
    <gt-grid-column auto if.bind="!returnedValue.length">
      <code>none</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="returnedValue.length">
    <gt-grid-column auto class="noscroll">
      <div class="scroll-x pad-3 pad-bot-5 d-inline-block w-100">
        <code class="pad-3">${returnedValue}</pre>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
