<template>
  <gt-off-canvas
    controller.ref="previewController"
    active.two-way="isActive"
    is-right.bind="isRight"
  >
    <p>Off-canvas content</p>
    <nav class="nav">
      <ul>
        <li repeat.for="index of 3">
          <a href="#" click.trigger="false">Item #${index + 1}</a>
        </li>
      </ul>
    </nav>
  </gt-off-canvas>

  <gt-grid>
    <gt-grid-column>
      ${isRight ? 'right' : 'left'} position
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isRight" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <hr class="mar-top-6" />
  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">
    <span
      class="text-h3"
      class.bind="isActive ? 'color-green' : 'link'"
      click.trigger="isActive = true"
      >${isActive ? 'active' : 'activate'}</span
    >
  </div>
</template>
