<template>
  <require from="../components/anchored-sections"></require>

  <anchored-sections
    code.bind="config.code"
    title.bind="config.title"
    path.bind="config.path"
    alt-path.bind="config.altPath"
    current-anchor.bind="currentAnchor"
    menu.bind="config.menu"
  ></anchored-sections>
</template>
