<template>
  <require from="../components/section-menu"></require>
  <require from="../components/external-link"></require>

  <div class="has-right-menu">
    <section-menu>
      <ul>
        <li
          repeat.for="component of availableComponents"
          class.bind="$parent.component === component && 'active'"
        >
          <a
            href.bind="router.generate('componentDetails', {component: component})"
          >
            ${component | kebabToUpper}
          </a>
        </li>
      </ul>
    </section-menu>

    <h1>Components</h1>
    <h2 class="mar-bot-3">${component | kebabToUpper}</h2>
    <div
      class="badge badge-misc text-small mar-right-3"
      if.bind="config.incomplete"
    >
      incomplete
    </div>
    <div class="badge badge-error text-small mar-right-3" if.bind="config.tbd">
      to be done
    </div>
    <p class="mar-bot-7">
      <code title="Component tag name">${component | tagName}</code>
    </p>
    <span
      class="preloader color-primary ma-bot-5"
      if.bind="!initialized"
    ></span>

    <div if.bind="initialized">
      <div class="block" if.bind="(externalUrl || config.description)">
        <p>
          <compose
            view="./components/${component}/description.html"
            if.bind="config.description"
          ></compose>
          <span if.bind="config.description">&nbsp;</span>
          <span if.bind="externalUrl">
            More&nbsp;<external-link url.bind="externalUrl"
              >information</external-link
            >
          </span>
        </p>
      </div>

      <div class="block">
        <h3>Features</h3>
        <table
          class="table table-borders w-100"
          if.bind="isPreviewComponentAvailable"
        >
          <thead>
            <tr>
              <th class="w-50">feature</th>
              <th class="w-50">value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>slot support</td>
              <td>
                <code class.bind="hasSlots || 'color-red'">${hasSlots}</code>
              </td>
            </tr>
            <tr if.bind="hasSlots">
              <td>allowed children</td>
              <td>
                <template if.bind="validSlot">
                  <code class="bg-grey-light">${validSlot | camelToKebab}</code>
                  <a
                    href.bind="router.generate('componentDetails', {component: validSlotComponentName})"
                    if.bind="!config.validSlot"
                  >
                    <span class="icon"
                      ><i class="mdi mdi-link variant"></i
                    ></span>
                  </a>
                </template>
                <code if.bind="!validSlot">any</code>
              </td>
            </tr>
          </tbody>
        </table>
        <gt-alert
          if.bind="!isPreviewComponentAvailable"
          is-closeable.bind="false"
          type.bind="'error'"
        >
          <h4>Pay your attention!</h4>
          <div>
            Don't forget to
            provide&nbsp;<code>controller.ref="previewController"</code>&nbsp;binding
            to preview component
          </div>
        </gt-alert>
      </div>
    </div>

    <div class="block" if.bind="modes.length" show.bind="initialized">
      <h3>Example</h3>
      <ul class="tabs">
        <li
          repeat.for="mode of modes"
          class.bind="currentMode === mode && 'active'"
        >
          <a href="#" click.trigger="currentMode = mode">${mode}</a>
        </li>
      </ul>
      <div class="tabs-container" data-role="preview">
        <compose
          view-model.bind="currentModePath"
          model.two-way="previewController"
          if.bind="config[currentMode]"
        ></compose>
      </div>
    </div>

    <div if.bind="initialized">
      <div class="block">
        <h3>Properties</h3>
        <compose
          view-model="./components/${component}/properties"
          if.bind="config.properties"
        ></compose>
        <p class="color-disabled-dark pos-static" if.bind="!config.properties">
          No properties specified
        </p>
      </div>

      <div class="block">
        <h3>Events</h3>
        <compose
          view-model="./components/${component}/events"
          if.bind="config.events"
        ></compose>
        <p class="color-disabled-dark" if.bind="!config.events">
          No events specified
        </p>
      </div>

      <hr class="mar-bot-5" />

      <ul class="breadcrumbs">
        <li><a href.bind="router.generate('components')">Index</a></li>
        <li>${component | kebabToUpper}</li>
      </ul>
    </div>
  </div>
</template>
