<template>
  <require from="../components/section-menu"></require>

  <div class="has-right-menu">
    <section-menu>
      <ul>
        <li repeat.for="component of availableComponents">
          <a
            href.bind="router.generate('componentDetails', {component: component})"
            >${component | kebabToUpper}</a
          >
        </li>
      </ul>
    </section-menu>
    <h1>
      Components
      <sup class="text-small" if.bind="version">
        <a
          href.bind="router.generate('info')"
          if.bind="!tracking"
          class="color-body"
          style="text-decoration: none"
        >
          <span class="icon"><i class="mdi mdi-code-braces-box"></i></span
          >${version}
        </a>
        <span if.bind="tracking">
          <span class="icon"><i class="mdi mdi-code-braces-box"></i></span
          >${version}
        </span>
      </sup>
    </h1>
    <h2 class="mar-bot-6">Index</h2>
    <gt-alert
      type="success"
      class="mar-bot-7 text-center"
      is-closeable.bind="false"
    >
      <strong class="pad-right-2">Zero-dependency</strong> components for
      <strong class="pad-h-2">Aurelia</strong> projects
    </gt-alert>
    <gt-grid>
      <gt-grid-column>
        <h2 class="hide">Available</h2>
        <nav class="nav mar-bot-5">
          <ul class="columns">
            <li repeat.for="component of availableComponents">
              <a
                href.bind="router.generate('componentDetails', {component: component})"
                >${component | kebabToUpper}</a
              >
            </li>
          </ul>
        </nav>
      </gt-grid-column>
      <gt-grid-column if.bind="false">
        <h2>Planned</h2>
        <nav class="nav mar-bot-5">
          <ul>
            <li repeat.for="component of plannedComponents">
              <a href="#" class="events-none">
                <span class="color-disabled-dark"
                  >${component | kebabToUpper}</span
                >
              </a>
            </li>
          </ul>
        </nav>
      </gt-grid-column>
    </gt-grid>
  </div>
</template>
