<template>
  <h1>Numbering systems</h1>
  <h2>supported by picker components</h2>

  <template if.bind="numberingSystems.length">
    <h3 if.bind="heading">${heading}</h3>
    <table class="table table-borders w-100 mar-bot-6">
      <tr>
        <th class="text-left w-15">name</th>
        <th repeat.for="i of 10">${i}</th>
        <th class="w-25">summary</th>
      </tr>
      <tr repeat.for="system of numberingSystems">
        <td><code>${system.name}</code></td>
        <td repeat.for="digit of system.values">${digit}</td>
        <td class="text-nowrap">${system.values.join('')}</td>
      </tr>
    </table>
  </template>
  <template else>
    <gt-alert is-closeable.bind="false" type="error">
      <h4>Error</h4>
      <div>Unable to output detailed data</div>
    </gt-alert>
  </template>
</template>
