<template>
  <div class="d-flex flex-h-center">
    <gt-avatar
      controller.ref="previewController"
      url.bind="hasImage && url"
      rounded.bind="isRounded"
      size.bind="currentSize"
    ></gt-avatar>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12">
      rounded
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isRounded" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      image source
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="hasImage" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12" class="d-flex flex-v-center">
      avatar size
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <div class="form-control">
          <input
            type="number"
            class="input text-center"
            min.bind="sizes.min"
            max.bind="sizes.max"
            title.bind="'max ' + sizes.max"
            value.bind="currentSize"
          />
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
