<template>
  <require from="../../components/external-link"></require>
  <require from="../../components/code-labeled"></require>

  <p>
    <code>goodt-framework-css</code>&nbsp;includes fonts and&nbsp;<span
      class="color-red"
      >requires Material Design icons to be installed</span
    >:
  </p>

  <code-labeled class="mar-bot-6" code="${code.assets.prod}"></code-labeled>

  <p class="mar-top-6">
    For proper styling we have to copy additional files.
    Use&nbsp;<code>CopyWebpackPlugin</code>&nbsp;for Webpack project setup or
    &nbsp;<code>aurelia.json</code>&nbsp;configuration for RequireJS/Alameda and
    SystemJS environments:
  </p>

  <code-labeled
    lang="javascript"
    label="JSON"
    code="${code.assets.copy | trimCode}"
  ></code-labeled>

  <p class="mar-top-6">Then add styles to your markup:</p>
  <code-labeled
    lang="html"
    label="HTML"
    code="${code.assets.markup | trimCode}"
  ></code-labeled>

  <p class="mar-top-6">
    <code>require</code>&nbsp;element for templates
    and&nbsp;<code>@import</code>&nbsp;instruction for CSS are also available.
  </p>
</template>
