<template>
  <require from="../../components/code-labeled"></require>

  <p>
    In order to tell Aurelia how to use the plugin, we need to register it.<br />
    This is done in your app's&nbsp;<code>main</code>&nbsp;file, specifically
    the&nbsp;<code>configure</code>&nbsp;method:
  </p>
  <code-labeled
    lang="javascript"
    label="JavaScript"
    code="${code.init | trimCode}"
  ></code-labeled>
</template>
