<template>
  <require from="../../components/external-link"></require>
  <require from="../../components/code-labeled"></require>

  <p class="color-red">
    <code>goodt-aurelia-ui</code>&nbsp;plugin does not
    include&nbsp;<code>goodt-framework-css</code>&nbsp;styles so you have to
    &nbsp;<external-link
      url.bind="'https://www.npmjs.com/package/goodt-framework-css'"
      >install</external-link
    >&nbsp;it:
  </p>
  <code-labeled code="${code.styles.prod}"></code-labeled>

  <h3 class="mar-top-7">Setup examples</h3>

  <h4 class="mar-top-6 text-bold">Rapid prototyping</h4>
  <p class="mar-top-6">
    Import compiled styles in your app's&nbsp;<code>main</code>&nbsp;file:
  </p>
  <code-labeled
    lang="javascript"
    label="JavaScript"
    code="${code.styles.prototyping | trimCode}"
  ></code-labeled>

  <h4 class="mar-top-6 text-bold">Copying compiled styles</h4>
  <p class="mar-top-6">
    Copy styles wherever you want
    via&nbsp;<code>CopyWebpackPlugin</code>&nbsp;for Webpack or using
    &nbsp;<code>aurelia.json</code>&nbsp;configuration for RequireJS/Alameda and
    SystemJS setup:
  </p>
  <code-labeled
    lang="javascript"
    label="JSON"
    code="${code.styles.copy | trimCode}"
  ></code-labeled>

  <h4 class="mar-top-6 text-bold">Less</h4>
  <p class="mar-top-6">
    Import&nbsp;<code>less</code>&nbsp;styles in your
    src&nbsp;<code>styles.less</code>&nbsp;file:
  </p>
  <code-labeled
    lang="css"
    label="LESS"
    code="${code.styles.less | trimCode}"
  ></code-labeled>

  <p class="mar-top-6">
    Add to
    your&nbsp;<code>app.html</code>&nbsp;file&nbsp;<code>require</code>&nbsp;element:
  </p>
  <code-labeled
    lang="html"
    label="HTML"
    code="${code.styles.require | trimCode}"
  ></code-labeled>
</template>
