<template>
  <gt-grid>
    <gt-grid-column style="height: 160px">
      <div class="panel">
        <div class="panel-body">
          <h3>Title</h3>
          <div>Panel content</div>
        </div>
        <gt-shim
          controller.ref="previewController"
          hover-only.bind="isHoverOnly"
          overlay-bg-class.bind="isChangedBg && 'bg-green'"
          class="d-block"
        >
          <h3 class="last">content</h3>
        </gt-shim>
      </div>
    </gt-grid-column>
  </gt-grid>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12">
      mouse over behaviour
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isHoverOnly" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      custom overlay background color
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isChangedBg" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
