<template>
  <gt-grid class="mar-top-6">
    <gt-grid-column
      controller.ref="previewController"
      ref="firstEl"
      auto.bind="isAuto"
      class="mar-right-4"
    >
      ${firstElClasses}
    </gt-grid-column>
    <gt-grid-column
      class="bg-green"
      ref="secondEl"
      mode.bind="selectedMode"
      size.bind="size.second"
    >
      ${secondElClasses}
    </gt-grid-column>
    <gt-grid-column
      class="bg-orange"
      ref="thirdEl"
      mode.bind="selectedMode"
      size.bind="size.third"
    >
      ${thirdElClasses}
    </gt-grid-column>
  </gt-grid>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12"> auto </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isAuto" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>

  <gt-grid class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      width is ${isWidthAligned ? 'aligned' : 'custom'}
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input
            type="checkbox"
            checked.bind="isWidthAligned"
            change.delegate="update()"
          /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>

  <gt-grid class="mar-top-6">
    <gt-grid-column> mode </gt-grid-column>
    <gt-grid-column auto>
      <div class="text-right">
        <div class="pad-2 d-flex flex-v-center">
          <div repeat.for="[name, mode] of modes" class="mar-left-5">
            <label
              class="radio cursor-pointer"
              class.bind="isWidthAligned && 'disabled'"
            >
              <input
                type="radio"
                name="radio"
                model.bind="mode"
                checked.bind="selectedMode"
                disabled.bind="isWidthAligned"
                change.delegate="update()"
              /><i></i>
              <span class="mar-left-3 mar-top-1">${name}</span>
            </label>
          </div>
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
