<template>
  <gt-alert controller.ref="previewController" is-closeable.bind="false">
    <h4>Title</h4>
    <div>Body content</div>
  </gt-alert>

  <gt-alert
    repeat.for="type of types"
    type.bind="type"
    wrapper-class.bind="wrapperClass"
    if.bind="active[$index]"
    deactivate-ready.delegate="removeTrigger($event, $index)"
  >
    <h4>Title</h4>
    <div>Body content</div>
  </gt-alert>
</template>
