<template>
  <gt-grid
    controller.ref="previewController"
    collapse.bind="isCollapsed"
    class="mar-top-${isCollapsed ? 9 : 6}"
  >
    <gt-grid-column>
      .col
    </gt-grid-column>
    <gt-grid-column class="col-6-12 bg-green">
      .col.col-6-12
    </gt-grid-column>
    <gt-grid-column class="bg-orange">
      .col
    </gt-grid-column>
  </gt-grid>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column>
      collapsed
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isCollapsed" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
