<template>
  <require from="./styles.css"></require>

  <div class="header p w-100">
    <div class="container">
      <div class="row row-collapse">
        <div class="col col-vmid">
          <div class="m-show hide text-bold">Goodt Aurelia UI</div>
          <nav class="nav nav-horizontal m-hide">
            <compose view="./components/nav.html"></compose>
          </nav>
        </div>
        <div class="col col-auto col-vmid">
          <div
            class="btn btn-ghost btn-icon pull-right hide m-show"
            click.trigger="offCanvasActive=!offCanvasActive"
          >
            <div class="icon color-body">
              <i class="mdi mdi-18px mdi-menu"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <gt-off-canvas active.two-way="offCanvasActive" is-right>
    <nav class="nav nav-vertical w-100">
      <compose view="./components/nav.html"></compose>
      <hr class="mar-v-4" />
      <div id="context-menu"></div>
    </nav>
  </gt-off-canvas>
  <section class="pad-5">
    <div class="container">
      <router-view></router-view>
    </div>
  </section>
  <a
    class="btn btn-primary btn-icon pos-fixed pos-bot-right mar-l1"
    click.delegate="toTop()"
  >
    <div class="icon">
      <i class="mdi mdi-arrow-up"></i>
    </div>
  </a>
</template>
