//noinspection CssUnknownTarget
@import "./node_modules/goodt-framework-css/src/_helpers";
@import "./node_modules/goodt-framework-css/src/_params";

// dev app specific
@right-menu-indent: 200px;
.tabs {
  &-container {
    &[data-role="preview"] {
      border-top: 1px solid @color-border;
      border-bottom: 1px solid @color-grey-light;
    }
  }
}

h2 {
  a[name] {
    opacity: 0.5;
  }

  &:hover {
    a[name] {
      opacity: 1;
    }
  }
}

gt-details {
  summary {
    min-height: @unit*5;
  }
}

.columns {
  column-count: 3;
  column-width: 256px;

  & > li {
    margin-bottom: @unit*1.5;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}


@media only screen and (min-width: @viewport-m) {
  .has-right-menu {
    padding-right: @right-menu-indent;
  
    .section-menu {
      margin-right: -@right-menu-indent;
      z-index: 1;
  
      .menu {
        right: 0;
        top: 5vh;
        max-height: 90vh;
        overflow-y: auto;
      }
    }
  }
}
