<template>
  <div class="d-flex flex-h-center">
    <gt-chip controller.ref="previewController" class="hide"></gt-chip>
    <div if.bind="chips.length">
      <gt-chip
        repeat.for="chip of chips"
        deactivate-ready.delegate="removeTrigger($event)"
        rounded.bind="isRounded"
        class="mar-2"
        class.bind="'badge-' + chip.color"
      >
        ${chip.value}</gt-chip
      >
    </div>
    <div if.bind="!chips.length" class="mar-top-2 mar-bot-3">
      <span class="text-h3 link" click.trigger="restore()">restore</span>
    </div>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12">
      rounded
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isRounded" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid if.bind="lastChipRemoved" class="mar-top-6">
    <gt-grid-column size="6" mode="12">
      chip removed
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <code>${lastChipRemoved}</code>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
