<template>
  <div class="alert" class.bind="cssByType">
    <div class="icon close" if.bind="isCloseable" click.trigger="close()">
      <i class="mdi mdi-close"></i>
    </div>
    <div class="alert-body">
      <slot></slot>
    </div>
  </div>
</template>
