<template>
  <div class="avatar" class.bind="cssClasses">
    <template if.bind="url">
      <img src.bind="url" />
    </template>
    <template else>
      <div class="color-grey">
        <i class="mdi" class.bind="fallbackIcon" css.bind="iconStyle"></i>
      </div>
    </template>
  </div>
</template>
