<template>
  <require from="../attributes/au-bind"></require>

  <label class="checkbox cursor-pointer" class.bind="labelClass">
    <input type="checkbox" au-bind /><i data-partial.bind="isPartially"></i> <slot></slot
  ></label>
</template>
