<template>
  <details open.two-way="active">
    <summary class="cursor-pointer">
      <div class="d-flex flex-v-center">
        <compose
          view="./gt-details-icon.html"
          if.bind="!isRight"
          containerless
        ></compose>
        <div class.bind="summaryCssClass">
          ${summary}
        </div>
        <compose
          view="./gt-details-icon.html"
          if.bind="isRight"
          containerless
        ></compose>
      </div>
    </summary>
    <slot></slot>
  </details>
</template>
