<template>
  <div class="dropdown">
    <ul>
      <li
        repeat.for="item of items"
        class.bind="disabled.includes($index) ? 'disabled' : (active === $index && 'active')"
        click.delegate="selectTrigger($index)"
      >
        ${item}
      </li>
    </ul>
  </div>
</template>
