<template>
  <require from="../value-converters/normalize-numeral"></require>

  <ul class="unstyled text-center pad-h-4">
    <li
      repeat.for="year of years"
      class="text-small text-truncate text-bold u-select-none"
      data-index="${$index}"
    >
      <span
        class="pad-v-7 cursor-pointer text-nowrap d-inline-block w-100"
        title.bind="year.name"
        click.trigger="selectYear(year.value)"
        >${year.name|normalizeNumeral}</span
      >
    </li>
  </ul>
</template>
