<template data-smooth-scroll.bind="calendarParams.initialized">
  <div class="form-control form-control-icon-right mar-bot-2 mar-top-1 w-100">
    <input
      ref="inputEl"
      type="text"
      class="input"
      class.bind="hasError && 'invalid'"
      value.bind="value & updateTrigger:'blur':'paste':'enter'"
      name.bind="name"
      change.delegate="onChange($event)"
      focus.trigger="onFocus($event)"
      keyup.delegate="onKeyPress($event)"
      placeholder.bind="placeholder"
      readonly.bind="!isGregorian || !canBeEditable || readonly"
      disabled.bind="disabled"
      required.bind="!value && required"
    />
    <div
      class="icon"
      class.bind="iconClockCssClass"
      click.delegate="setToday()"
    >
      <i class="mdi mdi-calendar"></i>
    </div>
    <div
      class="icon cursor-pointer mar-right-6"
      if.bind="value && !readonly && !disabled && hasResetControl"
      click.trigger="value = ''"
    >
      <i class="mdi mdi-close"></i>
    </div>
    <div class="pos-abs w-100" if.bind="canBeExpanded">
      <div
        class="dropdown pos-abs mar-top-2 bg-white"
        class.bind="isElementPositionHigh ? 'pos-top' : 'pos-bot'"
        style.bind="dropdownStyles"
      >
        <gt-grid class="bg-white" collapse>
          <gt-grid-column
            class="s-col-75 col-75"
            wheel.trigger="onScroll($event, 'calendar')"
            swipe-detect.call="onSwipeDetect($event, 'calendar')"
          >
            <div
              as-element="compose"
              view="./gt-date-picker-calendar.html"
              class="pad-4 date-picker-calendar"
            ></div>
          </gt-grid-column>
          <gt-grid-column
            class="bg-border shadow-2 s-col-25 col-25"
            wheel.trigger="onScroll($event, 'years')"
            swipe-detect.call="onSwipeDetect($event, 'years')"
          >
            <div
              as-element="compose"
              view="./gt-date-picker-years.html"
              class="date-picker-years"
            ></div>
          </gt-grid-column>
        </gt-grid>
      </div>
    </div>
  </div>
</template>
