<template>
  <require from="../value-converters/normalize-numeral"></require>
  <require from="../value-converters/calendar-day-css"></require>

  <div
    repeat.for="month of calendar.months"
    class="pad-v-2"
    data-month.bind="month.label"
  >
    <div class="text-center text-bold color-black pad-bot-1">
      ${month.title} ${month.year|normalizeNumeral}
    </div>
    <div
      class="date-picker-calendar-week text-xsmall text-nowrap text-center color-grey"
    >
      <span repeat.for="weekday of calendar.weekdays"> ${weekday}</span>
    </div>
    <div
      repeat.for="week of month.weeks"
      class="date-picker-calendar-week text-center pad-v-2"
    >
      <template repeat.for="day of week.days">
        <template if.bind="day.empty">
          <span class.bind="day|calendarDayCss" class="u-select-none"
            >&nbsp;</span
          >
        </template>
        <template else>
          <span
            class="u-select-none"
            class.bind="day|calendarDayCss:date"
            click.trigger="selectDate(day.value)"
            >${day.name|normalizeNumeral}</span
          >
        </template>
      </template>
    </div>
  </div>
</template>
