<template>
  <div
    class="form-control"
    class.bind="hasControls && 'form-control-icon-both'"
  >
    <div
      if.bind="hasControls"
      class="icon u-select-none"
      class.bind="cssDecrease"
      click.trigger="decrease()"
      long-press.call="decrease(skipSteps)"
    >
      <i class="mdi mdi-minus"></i>
    </div>
    <input
      ref="inputElement"
      type="number"
      class="input text-bold"
      class.bind="cssClasses"
      change.delegate="update($event)"
      value.bind="value"
      min.bind="min"
      max.bind="max"
      step.bind="step"
      disabled.bind="disabled"
      readonly.bind="readonly"
    />
    <div
      if.bind="hasControls"
      class="icon u-select-none"
      class.bind="cssIncrease"
      click.trigger="increase()"
      long-press.call="increase(skipSteps)"
    >
      <i class="mdi mdi-plus"></i>
    </div>
  </div>
</template>
