<template>
  <div class="offcanvas" class.bind="cssClasses">
    <div class="offcanvas-overlay" click.trigger="active = false"></div>
    <div class="offcanvas-content">
      <div class="pad-l3">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
