<template>
  <div class="popup" class.bind="isFixed && 'popup-fixed'">
    <div class="popup-dialog">
      <div class="icon close" if.bind="isCloseable" click.delegate="close()">
        <i class="mdi mdi-close"></i>
      </div>
      <div class="popup-dialog-body">
        <slot></slot>
      </div>
      <div class="popup-dialog-footer" if.bind="buttons.length">
        <span
          repeat.for="button of buttons"
          class="btn"
          class.bind="button.cssClass"
          click.delegate="button.action()"
          tabindex.bind="$index"
          >${button.title}</span
        >
      </div>
    </div>
  </div>
</template>
