<template>
  <require from="../attributes/au-bind"></require>

  <label class="radio cursor-pointer" class.bind="labelClass">
    <input type="radio" au-bind /><i></i> <slot></slot
  ></label>
</template>
