<template>
  <div
    class="form-control form-control-icon-right mar-bot-2 mar-top-1"
    class.bind="wrapperClass"
  >
    <input
      class="input text-truncate"
      class.bind="!items.length && 'invalid'"
      ref="selectField"
      style.bind="selectFieldStyles"
      focus.trigger="onFocus($event)"
      placeholder.bind="placeholder"
      value.bind="summarized"
      name.bind="name"
      type="text"
      disabled.bind="disabled"
      readonly
    />
    <div
      class="icon cursor-pointer"
      class.bind="disabled && 'events-none text-muted'"
      click.trigger="toggleExpanded($event)"
    >
      <i
        class="mdi"
        class.bind="expanded ? 'mdi-chevron-up' : 'mdi-chevron-down'"
      ></i>
    </div>
    <div
      class="icon cursor-pointer mar-right-6"
      if.bind="ctrlEnabled"
      click.trigger="updatedSelected()"
    >
      <i class="mdi" class.bind="ctrlCssClass"></i>
    </div>
    <div class="pos-abs w-100" if.bind="expanded && items.length && updateScrollPosition()">
      <div
        class="dropdown pos-abs scroll-y mar-top-2"
        class.bind="isElementPositionHigh ? 'pos-top' : 'pos-bot'"
        style.bind="dropdownStyles"
      >
        <ul class="scroll-hide">
          <li repeat.for="item of items">
            <label click.trigger="selectItem($event, item)">
              <div class="row row-collapse">
                <div class="col col-auto">
                  <span
                    class="mar-right-4"
                    class.bind="multiple ? 'checkbox checkbox-small' : 'radio radio-small'"
                  >
                    <input
                      type.bind="multiple ? 'checkbox' : 'radio'"
                      name.bind="selectName"
                      model.bind="item.value"
                      checked.bind="multiple ? value.includes(item.value) : value"
                    /><i></i>
                  </span>
                </div>
                <div class="col w-85 text-truncate">
                  <span class="pad-top-2 d-inline-block">${item.name}</span>
                </div>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
