<template class="shim" class.bind="hoverOnly && 'shim-hover'">
  <div class="shim-overlay" class.bind="overlayBgClass"></div>
  <div class="shim-content d-flex flex-v-center flex-h-center h-100">
    <slot></slot>
  </div>
</template>
