<template>
  <ul class="tabs" class.bind="cssClasses">
    <template replaceable part="header"></template>
  </ul>
  <div class="tabs-container">
    <template replaceable part="content"></template>
  </div>
</template>
