<template>
  <require from="../value-converters/preset-css"></require>
  <div class="form-control form-control-icon-right mar-bot-2 mar-top-1">
    <input
      class="input"
      class.bind="hasError && 'invalid'"
      type="text"
      value.bind="value & updateTrigger:'blur':'paste'"
      name.bind="name"
      change.delegate="onChange($event)"
      focus.trigger="onFocus($event)"
      placeholder.bind="placeholder"
      readonly.bind="(!inputOnly && presetsOnly) || !canBeEditable || readonly"
      disabled.bind="disabled"
      required.bind="!value && required"
    />
    <div
      class="icon"
      class.bind="iconClockCssClass"
      click.delegate="setCurrentTime()"
    >
      <i class="mdi" class.bind="clockCssClass"></i>
    </div>
    <div
      class="icon cursor-pointer mar-right-6"
      if.bind="value && !readonly && !disabled && !presetsOnly && hasResetControl"
      click.trigger="value = ''"
    >
      <i class="mdi mdi-close"></i>
    </div>
    <div class="pos-abs w-100" if.bind="canBeExpanded">
      <div
        class="dropdown pos-abs scroll-y mar-top-2"
        class.bind="isElementPositionHigh ? 'pos-top' : 'pos-bot'"
        style.bind="dropdownStyles"
      >
        <ul class="scroll-hide">
          <li
            repeat.for="preset of presets"
            class="u-select-none"
            class.bind="preset|presetCss:value"
            click.trigger="selectPreset($event, preset)"
          >
            ${preset.name}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
