<template>
  <div class="d-flex flex-v-center">
    <div class="icon icon-2">
      <i
        class="mdi cursor-pointer"
        class.bind="iconCssClass"
        click.trigger="ctrlClicked()"
        mouseenter.trigger="isCtrlReady = true"
        mouseleave.trigger="isCtrlReady = false"
        if.bind="!initialized || slotChildrenLength"
      ></i>
    </div>
    <div
      class.bind="itemCssClass"
      mouseenter.trigger="isItemReady = true"
      mouseleave.trigger="isItemReady = false"
      click.trigger="itemClicked()"
    >
      ${header}
    </div>
  </div>
  <div
    show.bind="slotChildrenLength && active && initialized"
    class="mar-left-6"
  >
    <slot></slot>
  </div>
</template>
