<template>
  <div
    class="pad-bot-6 pad-top-6 d-flex flex-h-center"
    class.bind="inverse && 'bg-body'"
  >
    <gt-preloader
      controller.ref="previewController"
      size.bind="size"
      layout-size.bind="layoutSize"
      color.bind="selectedColorValue"
      inverse.bind="inverse"
    ></gt-preloader>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12"> inverse </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="inverse" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column class="d-flex flex-v-center"> color </gt-grid-column>
    <gt-grid-column auto>
      <div class="text-right">
        <div class="pad-2 d-flex flex-v-center">
          <div repeat.for="color of colors" class="mar-left-5">
            <label
              class="radio cursor-pointer"
              class.bind="inverse && 'disabled'"
            >
              <input
                type="radio"
                name="radio"
                model.bind="color"
                disabled.bind="inverse"
                checked.bind="selectedColor"
              /><i></i>
              <span class="mar-left-3 mar-top-1">${color}</span>
            </label>
          </div>
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column class="d-flex flex-v-center"> size </gt-grid-column>
    <gt-grid-column auto>
      <div class="text-right">
        <div class="form-control">
          <input
            type="number"
            class="input text-center"
            min="0"
            max.bind="maxSize"
            change.trigger="resetProp('layoutSize')"
            title.bind="'max ' + maxSize"
            value.bind="size"
          />
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column class="d-flex flex-v-center"> layout size </gt-grid-column>
    <gt-grid-column auto>
      <div class="text-right">
        <div class="form-control">
          <input
            type="number"
            class="input text-center"
            min="0"
            max.bind="maxLayoutSize"
            title.bind="'max ' + maxLayoutSize"
            change.trigger="resetProp('size')"
            value.bind="layoutSize"
          />
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
