<template>
  Provides a date selection field with scrollable month calendars.
  <br />
  Aside from <code class="mar-h-2">placeholder</code> format additional
  supported formats for the input field are:
  <code class="mar-left-2">yyyy-mm-dd</code>,
  <code class="mar-left-2">yyyymmdd</code>. <br />
  <br />
  <span class="color-red">
    In addition to the listed below <code class="mar-left-2">name</code>,
    <code class="mar-left-2">disabled</code>,
    <code class="mar-left-2">readonly</code>,
    <code class="mar-h-2">required</code> properties are also available.
  </span>
</template>
