<template>
  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">
    <gt-date-picker
      controller.ref="previewController"
      title.bind="errorDetails.status ? errorDetails.description : ''"
      value.bind="value"
      has-today-control.bind="hasTodayControl"
      has-reset-control.bind="hasResetControl"
      locale.bind="computedLocale"
      force-gregory.bind="forceGregory"
      first-day-of-week.bind="firstDayOfWeek"
      input-only.bind="inputOnly"
      min.bind="selectedMin"
      max.bind="selectedMax"
      excluded-week-days.bind="excludedWeekDays"
      excluded-dates.bind="computedExcludedDates"
      disabled.bind="isDisabled"
      readonly.bind="isReadonly"
      required.bind="isRequired"
      value-changed.delegate="updateDateSelected($event)"
      error-detected.delegate="updateErrorStatus($event.detail.error)"
    ></gt-date-picker>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column> error detected<template if.bind="errorDetails.status">, code&nbsp;<code>${errorDetails.code}</code></template>
    </gt-grid-column>
    <gt-grid-column auto>
      <template if.bind="errorDetails.status">
        <span class="color-invalid">${errorDetails.description}</span>
      </template>
      <template else>
        <code>none</code>
      </template>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> excluded dates
      <template if.bind="hasExcludedDates">
      &nbsp;are <code class="mar-h-2">${excludedDates}</code>
      </template>  
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasExcludedDates"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3" size="9"> excluded week days </gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="excludedWeekDays"
        items.bind="weekdays"
        placeholder="Select..."
        has-reset-control.bind="true"
        multiple
        summary
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3" size="9">first day of week</gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="firstDayOfWeek"
        items.bind="weekdays"
        placeholder="Select..."
        has-reset-control.bind="false"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3" size="9"> min </gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="selectedMin"
        items.bind="minValues"
        placeholder="yyyy-mm-dd"
        has-reset-control.bind="true"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3" size="9"> max </gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="selectedMax"
        items.bind="maxValues"
        placeholder="yyyy-mm-dd"
        has-reset-control.bind="true"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <compose view="../picker-locale-control.html"></compose>
  <gt-grid class="mar-top-6">
    <gt-grid-column> today control </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasTodayControl"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> reset control </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="hasResetControl" state.bind="(isDisabled || isReadonly) && 'disabled'"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      disabled
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isDisabled"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      readonly
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isReadonly"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      required
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isRequired"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> input only </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="inputOnly"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column> returned value </gt-grid-column>
    <gt-grid-column auto if.bind="!returnedValue.length">
      <code>none</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="returnedValue.length">
    <gt-grid-column auto class="noscroll">
      <div class="scroll-x pad-3 pad-bot-5 d-inline-block w-100">
        <code class="pad-3">${returnedValue}</pre>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
