<template>
  <div class="pos-rel mar-bot-5" if.bind="js.length">
    <pre class="mar-top-5 language-javascript" au-syntax>${js | trimCode}</pre>
    <div class="badge pos-abs pos-top-right text-small">JavaScript</div>
  </div>
  <div class="pos-rel">
    <pre class="mar-top-5 language-html" au-syntax>${code | trimCode}</pre>
    <div class="badge pos-abs pos-top-right text-small">HTML</div>
  </div>
</template>
