<template>
  <table if.bind="items.length" class="table table-borders w-100">
    <thead>
      <tr>
        <th class="w-25">name</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="item of items">
        <td><code>${item.name | camelToKebab}</code></td>
        <td><div innerhtml.bind="item.description | sanitizeHTML"></div></td>
      </tr>
    </tbody>
  </table>
</template>
