<template>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3" size="9"> locales </gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="selectedLocale"
        items.bind="locales"
        has-reset-control.bind="false"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5">
    <gt-grid-column class="pad-top-3" size="9">
      numbering system&nbsp;
      <a href.bind="router.generate('numbers')" title="see detailed information"
        ><span class="icon"><i class="mdi mdi-link variant"></i></span
      ></a>
    </gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="selectedNumeralSystem"
        items.bind="numberingSystems"
        placeholder="Select..."
        has-reset-control.bind="true"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-5" if.bind="showCalendarsControl">
    <gt-grid-column class="pad-top-3" size="9"> calendar </gt-grid-column>
    <gt-grid-column size="3">
      <gt-select
        class="d-block"
        value.two-way="selectedCalendar"
        items.bind="calendars"
        placeholder="Select..."
        has-reset-control.bind="true"
        disabled.bind="forceGregory"
      >
      </gt-select>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="computedLocale">
    <gt-grid-column> selected locale </gt-grid-column>
    <gt-grid-column auto>
      <code>${computedLocale}</code>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="showCalendarsControl">
    <gt-grid-column> Gregorian calendar </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="forceGregory"></gt-switch>
    </gt-grid-column>
  </gt-grid>
</template>
