<template>
  <table if.bind="items.length" class="table table-borders w-100">
    <thead>
      <tr>
        <th class="w-25" title="custom element attribute">name</th>
        <th class="w-25">type</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="item of items">
        <td><code>${item.name | camelToKebab}</code></td>
        <td>
          <div>${item.type.name ? item.type.name : item.type}</div>
          <div class="text-small text-bold" if.bind="item.value !== undefined">
            default:&nbsp;<code>${item.value}</code>
          </div>
        </td>
        <td>
          <div if.bind="item.required" class="color-red">required</div>
          <div innerhtml.bind="item.description | sanitizeHTML"></div>
        </td>
      </tr>
    </tbody>
  </table>

  <gt-alert
    if.bind="anyBoolean && showShortcuts"
    class="mar-top-5"
    type.bind="'warn'"
    is-closeable.bind="false"
  >
    <h4>Shortcuts for booleans</h4>
    <div>
      Any boolean property can be initialized by shortcut mode, i.e.&nbsp;
      <code>${firstBoolean | camelToKebab}</code>&nbsp;instead of&nbsp;
      <code>${firstBoolean | camelToKebab}.bind="true"</code>
    </div>
  </gt-alert>
</template>
