<template>
  <gt-checkbox
    controller.ref="previewController"
    name.bind="'hidden-checkbox'"
    class="hide"
  ></gt-checkbox>
  <div class="d-flex flex-h-center flex-v-center h-100 pad-top-9 pad-bot-8">
    <gt-checkbox
      repeat.for="product of products"
      is-small.bind="isSmall"
      is-partial.bind="isPartial"
      disabled.bind="isDisabled"
      change.delegate="selectProduct($event, product)"
      name.bind="inputName"
      checked.bind="value"
      class.bind="isRight && 'pull-right'"
      class="mar-right-6"
      model.bind="product.value"
    >
      <span
        class="mar-top-1"
        class.bind="isRight ? 'mar-right-3 pull-left' : 'mar-left-3 pull-right'"
        >${product.name}</span
      >
    </gt-checkbox>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column>
      small
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isSmall"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      disabled
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isDisabled"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      partially selected
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isPartial"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      invert checkbox position
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isRight"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      selected
    </gt-grid-column>
    <gt-grid-column auto>
      <code if.bind="selectedProductName.length">${selectedProductName}</code>
      <template else>none</template>
    </gt-grid-column>
  </gt-grid>
</template>
