<template>
  <require from="./section-menu"></require>

  <div class="has-right-menu">
    <section-menu>
      <ul>
        <li
          repeat.for="anchor of anchors"
          class.bind="currentAnchor === anchor && 'active'"
        >
          <a href="#" click.delegate="scroll(anchor)">${menu.get(anchor)}</a>
        </li>
      </ul>
    </section-menu>

    <h1>${title}</h1>
    <section repeat.for="anchor of anchors" class="section">
      <h2>
        ${menu.get(anchor)}
        <a
          name.bind="anchor"
          click.delegate="scroll(anchor)"
          class="cursor-pointer"
          >#</a
        >
      </h2>
      <div>
        <template if.bind="path">
          <compose view="../modules/${path}/${anchor}.html"></compose>
        </template>
        <template if.bind="!path && altPath">
          <compose view-model.bind="altPath" model.bind="anchor"></compose>
        </template>
      </div>
    </section>
  </div>
</template>
