<template>
  <div class="pos-rel">
    <pre
      class="language-${lang}"
      class.bind="cssClasses"
      au-syntax.bind="code"
    ></pre>
    <div class="badge pos-abs pos-top-right text-small" if.bind="label">
      ${label}
    </div>
  </div>
</template>
