<template>
  <ul if.bind="router.navigation.length">
    <li
      class="${nav.isActive ? 'active' : ''}"
      repeat.for="nav of router.navigation"
    >
      <a href.bind="nav.href">${nav.title}</a>
    </li>
  </ul>
</template>
