<template>
  <div class="d-flex flex-h-center">
    <gt-details
      controller.ref="previewController"
      class="w-100"
      summary="Summary text"
      is-right.bind="isRight"
      active.two-way="active"
      summary-class="text-bold"
      icon-class.bind="active && 'color-primary'"
    >
      A disclosure widget is typically presented onscreen using a small triangle
      which rotates or twists to indicate open/closed status, with a label next
      to the triangle.
    </gt-details>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6">
      ${isRight ? 'right' : 'initial'} position
    </gt-grid-column>
    <gt-grid-column>
      <div class="text-right">
        <label class="switch">
          <input type="checkbox" checked.bind="isRight" /><i></i>
        </label>
      </div>
    </gt-grid-column>
  </gt-grid>
</template>
