@import "../node_modules/goodt-framework-css/src/_helpers";
@import "../node_modules/goodt-framework-css/src/_params";

gt {
  &-alert,
  &-grid,
  &-grid-column {
    display: block;
  }

  &-date-picker {
    @date-picker-container-height: (
        @spacer7 * 2 + @font-size-smaller * @line-height
      ) * 5;

    & > .form-control {
      & > .pos-abs {
        width: @spacer7 * 10;
      }
    }

    .dropdown {
      transition: 0.3s;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: @date-picker-container-height / 10;
        display: block;
        z-index: 2;
        opacity: 1;
      }

      &:before {
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 100%
        );
        top: 0;
      }

      &:after {
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.6) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        bottom: 0;
      }

      &:hover {
        &:before,
        &:after {
          height: @date-picker-container-height / 33;
        }
      }

      & > div,
      & > gt-grid {
        height: @date-picker-container-height;
      }
      gt-grid-column {
        overflow: hidden;
        height: 100%;

        &:last-child {
          position: static;
          z-index: 1;

          &:before {
            @indicator-dimension: 0.75;

            content: "";
            display: block;
            background-color: #fff;
            width: @spacer * @indicator-dimension;
            height: @spacer * @indicator-dimension;
            position: absolute;
            top: 50%;
            transform: translate(-75%, -50%) rotate(45deg);
            z-index: 1;
          }
        }
      }

      .date-picker {
        &-years,
        &-calendar {
          min-height: @date-picker-container-height * 2;
        }

        &-years {
          transition: 0.3s;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }

        &-calendar {
          &-week {
            display: flex;
            & > span {
              flex: 1 1 auto;
              width: calc(100% / 7);
              margin: @unit / 8;
            }

            &:not(.text-xsmall) {
              & > span {
                border: @unit / 4 solid transparent;
                border-radius: @unit * 3 / 8;

                &.cursor-pointer:hover {
                  border-color: @color-grey-light;
                }
              }
            }
          }
        }
      }
    }

    &[data-smooth-scroll="true"] {
      .dropdown {
        gt-grid-column {
          scroll-behavior: smooth;
        }
      }
    }
  }
}

.toast {
  transition: margin 0.3s;

  &:not(.mar-bot-5) {
    margin-bottom: @unit * -20;
  }

  &-wrapper {
    z-index: 1;
  }
}

.form-control-icon-both {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.checkbox,
.radio {
  input + i {
    display: inline-block;
  }
}

.checkbox {
  input + i {
    &[data-partial="true"] {
      &::before {
        content: none;
      }

      &:after {
        @checkbox-base-border: @unit / 4;

        content: " ";
        position: absolute;
        display: inline-block;
        height: 50%;
        width: calc(100% - @checkbox-base-border*2);
        bottom: calc(50% - @checkbox-base-border / 2);
        left: @checkbox-base-border;
        border-bottom: @checkbox-base-border solid #fff;
      }
    }
  }
}

.dropdown > ul {
  li {
    &.text-muted {
      color: @color-muted;
    }
    &.color-disabled-dark {
      color: @color-disabled-dark;
    }
  }
}

details {
  & > summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: none;
      color: @color-link;
    }
  }
}
