<template>
  <gt-switch
    hidden
    state.bind="selectedState"
    controller.ref="previewController"
  ></gt-switch>
  <gt-grid repeat.for="product of products" class="mar-top-6">
    <gt-grid-column>${product.name}</gt-grid-column>
    <gt-grid-column auto>
      <gt-switch
        model.bind="product.id"
        is-small.bind="isSmall"
        state.bind="selectedState"
        active.bind="selectedProductIds"
      ></gt-switch>
    </gt-grid-column>
  </gt-grid>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column class="d-flex flex-v-center">
      state
    </gt-grid-column>
    <gt-grid-column auto>
      <div class="text-right">
        <div class="pad-2 d-flex flex-v-center">
          <div repeat.for="state of states" class="mar-left-5">
            <label class="radio cursor-pointer">
              <input
                  type="radio"
                  name="radio"
                  model.bind="state"
                  checked.bind="selectedState"
                /><i></i>
                <span class="mar-left-3 mar-top-1">${state}</span>
            </label>
          </div>
        </div>
      </div>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6">
    <gt-grid-column>
      small
    </gt-grid-column>
    <gt-grid-column auto>
      <gt-switch active.two-way="isSmall"></gt-switch>
    </gt-grid-column>
  </gt-grid>
  <gt-grid class="mar-top-6" if.bind="selectedProductIds.length">
    <gt-grid-column>
      selected product IDs
    </gt-grid-column>
    <gt-grid-column auto>
      <code>${selectedProductIds}</code>
    </gt-grid-column>
  </gt-grid>
</template>
