<template>
  <require from="../../components/external-link"></require>

  <div if.bind="settings.properties">
    <h3>Properties</h3>
    <compose
      view-model="../components/${component}/properties"
      model.bind="{showShortcuts : false}"
    ></compose>
  </div>
  <div
    if.bind="settings.events"
    class.bind="settings.properties && 'mar-top-6'"
  >
    <h3>Events</h3>
    <compose view-model="../components/${component}/events"></compose>
  </div>
  <p class="mar-top-6">
    More about&nbsp;
    <a href.bind="router.generate('componentDetails', {component: component})"
      >${component | kebabToUpper}<span class="icon"
        ><i class="mdi mdi-link variant"></i></span
    ></a>
  </p>
</template>
