<template>
  <div class="d-flex flex-h-center">
    <gt-dropdown
      controller.ref="previewController"
      item-select.delegate="onItemSelect($event.detail)"
      disabled.bind="disabled"
      active.bind="active"
      items.bind="items"
    ></gt-dropdown>
  </div>

  <hr class="mar-top-6 mar-bot-6" />

  <gt-grid>
    <gt-grid-column size="6" mode="12">
      selected item index
    </gt-grid-column>
    <gt-grid-column class="text-right">
      #${active}
    </gt-grid-column>
  </gt-grid>
</template>
